@page "/Appeal"


<Container>
    <Row>
        <div class="frame-container">
            <iframe  width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/LKOKrhhBQjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </Row>
    <Row>
        <Jumbotron Background="Background.White" Margin="Margin.Is1.FromTop" Style="width:100%">
            <p>Please, find it in your heart to help this poor man. We ask simple for a like, maybe even a comment.</p>
        </Jumbotron>
            
    </Row>
</Container>
