@page "/"
@page "/What"
@using Domain.Models
@using DTOs
@using FTH.Code

<Jumbotron Margin="Margin.Is4.FromBottom.Is4.FromTop">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">#FightForTheHomeless</JumbotronTitle>
    <JumbotronSubtitle>
        Two foolish medieval internet memes are about to do battle!
    </JumbotronSubtitle>
    <Divider></Divider>
    <Paragraph>
        On the 28th March (subject to change) the Anvil of hereford, famed for his powerful shield-equipped left hook and his shout "tell me how the grass tastes, little man!". Will duel Goatworn Armband, famed for his salty internet comics and hitting that man with a folding chair that one time.
    </Paragraph>
    <Paragraph>
        They are fighting, not for their own egos (entirely) but for a good cause! Each has selected a homeless charity for which they choose to fight.
    </Paragraph>
    <Paragraph>
        Should you wish to buy a ticket by clicking the <Link To="EventBrite" >Donate</Link> button below then all the money received will be split evenly between these two charities.
    </Paragraph>
    <Paragraph>
            The fight will be competitive, it will be fought with steel, blunted weapons and with no predetermined outcome.
    </Paragraph>
    <Paragraph>
            The fight will be filmed and aired online to all those with tickets.
    </Paragraph>
        <Paragraph>
            If you have any questions, please message one of the organisers on our <Link To="https://www.facebook.com/Anvil-vs-Goatworn-Fight-for-the-Homeless-103277498409609/">Facebook</Link>  or <Link To="https://www.instagram.com/fightforthehomelessttps://www.instagram.com/fightforthehomeless/">Instagram pages</Link>.
        </Paragraph>
    <Paragraph>
            Thank you for your contribution and thank you for helping us #FightForTheHomeless
    </Paragraph>
    <Paragraph>
        <div class="flex-buttons">
        <Button Type="ButtonType.Link" Color="Color.Primary" Target="Target.Blank" Block="true" class="facebook-hashtag-button"
                To="https://www.facebook.com/Anvil-vs-Goatworn-Fight-for-the-Homeless-103277498409609/">
            <i class="fab fa-facebook-f"></i>
            Find our page #FightForTheHomeless
        </Button>
        </div>
        <div class="flex-buttons">
        <Button Type="ButtonType.Link" Color="Color.Primary" Target="Target.Blank" Block="true" class="twitter-hashtag-button"
                To="https://twitter.com/hashtag/FightForTheHomeless">
            <i class="fab fa-twitter"></i>
            Tweet #FightForTheHomeless
        </Button>
        <Button Type="ButtonType.Link" Color="Color.Primary" Target="Target.Blank" Block="true" class="facebook-hashtag-button"
                To="https://www.facebook.com/hashtag/fightforthehomeless">
            <i class="fab fa-facebook-f"></i>
            Facebook #FightForTheHomeless
        </Button>
        </div>
</Paragraph>
</Jumbotron>

   @if (Donations != null)
   {
       <CardDeck Margin="Margin.Is4.FromBottom">
            <Counter From="0" To="@Donations.Count" Title="Donations" Start="@(Donations.Count!=0)"/>
            <Counter From="0" To="@Donations.Total" Title="Raised" Format="£#0.00"  Start="@(Donations.Count!=0)" />
        </CardDeck>
   }

<CardDeck  Margin="Margin.Is4.FromBottom">
    <AnvilCard />
    <GoatwornCard />
</CardDeck>

<CardDeck Margin="Margin.Is4.FromBottom">
    @if (Donations.LatestDonations != null)
    {
        @foreach (var don in Donations.LatestDonations)
        {
            <DonationCard Model="don" />
        }
    }

</CardDeck>

@code
{
    [Inject] private IJSRuntime JsRuntime { get; set; }
    [Inject] public DonationApi DonationApi { get; set; }

    private DonationSummaryDto Donations { get; set; } = new DonationSummaryDto();


    protected override Task OnInitializedAsync()
    {
        return DonationApi.Summary().Set(() => Donations);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
            await JsRuntime.FitText(".display-4");
    }

}
