@page "/"
@page "/What"
@using Domain.Models
@using DTOs
@using FTH.Code

<Jumbotron Margin="Margin.Is4.FromBottom.Is4.FromTop">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">Fight for the Homeless</JumbotronTitle>
    <JumbotronSubtitle>
        Welcome to FightForTheHomeless! Here you can see two titans of the medieval meme world duke it out for charity!
    </JumbotronSubtitle>
    <Divider></Divider>
    <Paragraph>
        Want a way to raise some money for a good cause that doesn’t involve you doing something stupid on Facebook or running somewhere?
    </Paragraph>
    <Paragraph>
        Swords, shields, armour and axes! (all blunt, but very real) will be smashed against one another in a 5 round tournament for the noble cause of helping those who need it most.
    </Paragraph>
    <Row>
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnTablet">
            <Paragraph>
                <strong>Anvil has selected St Georges crypt.</strong>
            </Paragraph>
            
        </Column>
        
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnTablet">
            <Paragraph Alignment="TextAlignment.Right">
                <strong>Goatworn has selected Path devon.</strong>
            </Paragraph>
        </Column>
    </Row>
    <Paragraph>
        The fight will be happening mid April in Herefordshire. That seems pretty vague, but that’s currently all we can provide in this ever changing environment of covid.
    </Paragraph><Paragraph>
        But fret not! It’s all online, so you don’t need to book off a day from work, travel to Hereford or worry about social distancing in a castle!
    </Paragraph><Paragraph>
        Simply donate £5 and you will receive a ticket to see the show that you can watch whenever you want, as many times as you want!
    </Paragraph><Paragraph>
        Don’t feel limited to £5, give as much as you fancy, 100% of money raised will be split between the two charities that you can read about <Link To="/Rules">here</Link>.
    </Paragraph>


                <Paragraph>
                    If you want to contribute something else then all is welcome! Any help spreading the word is appreciated and some fantastic people have created some wonderful pieces for us over <Link To="/Gallery">here</Link> to help us show the world what we are doing!
                </Paragraph>
                <Paragraph>
                    Don’t feel you need to draw anything, simply sending a link to this page or telling your friends about what's happening will help! Perhaps consider following the <Link To="https://www.facebook.com/Anvil-vs-Goatworn-Fight-for-the-Homeless-103277498409609/">Facebook</Link> or  <Link To="https://www.instagram.com/fightforthehomeless">Instagram</Link> pages too?
                </Paragraph><Paragraph>
    The rules of the fight are available <Link To="/Rules">here</Link> and below you can find the stats of each fighter and a how to donate, Don’t worry, whichever one you pick the money is still split 50/50, it simply tells us which of the fighters you are supporting.
</Paragraph>

    <Paragraph>
        <div class="flex-buttons">
            <Button Type="ButtonType.Link" Color="Color.Primary" Target="Target.Blank" Block="true" class="facebook-hashtag-button"
                    To="https://www.facebook.com/Anvil-vs-Goatworn-Fight-for-the-Homeless-103277498409609/">
                <i class="fab fa-facebook-f"></i>
                Find our page #FightForTheHomeless
            </Button>
        </div>

    </Paragraph>
</Jumbotron>

@if (Donations != null)
{
    <CardDeck Margin="Margin.Is4.FromBottom">
        <Counter From="0" To="@Donations.Count" Title="Donations" Start="@(Donations.Count!=0)" />
        <Counter From="0" To="@Donations.Total" Title="Raised" Format="£#0.00" Start="@(Donations.Count!=0)" />
    </CardDeck>
}

<CardDeck Margin="Margin.Is4.FromBottom">
    <AnvilCard />
    <GoatwornCard />
</CardDeck>

<CardDeck Margin="Margin.Is4.FromBottom">
    @if (Donations.LatestDonations != null)
    {
        @foreach (var don in Donations.LatestDonations)
        {
            <DonationCard Model="don" />
        }
    }

</CardDeck>


<Jumbotron Margin="Margin.Is4.FromBottom.Is4.FromTop">
    <Paragraph>
        The event will be filmed by a local director using professional cameras/drones, and the footage will be uploaded HERE. You can buy tickets to download and watch the footage, making the event Covid-compliant no matter what your nations laws may be.
    </Paragraph>
    <Paragraph>
        The pandemic has had a profound impact on homeless people, “for the terrible year that 2020 was for many of us, we had homes to stay in and knowledge of enough food to get by, these people didn't”.
    </Paragraph>
    <Paragraph>
        Our aim to alleviate their suffering and bring attention to their plight by hosting an event that’ll appeal to any (and all) members of the public: An authentic medieval duel, watchable from the comfort of your living room, where all proceeds are donated to a good cause.
    </Paragraph>
    <Paragraph>
        Who are we donating too? 50% of the proceeds will go to St George’s Crypt; a homeless charity that provides beds, counselling and support for people who are forced to sleep rough.
    </Paragraph>
    <Paragraph>
        The other 50% of the proceeds will go to Path Devon; a similar charity that offers beds and support to homeless people.
    </Paragraph>
    <Paragraph>
        Check out the charities by clicking the links ag the top of the page.
    </Paragraph>
    <Paragraph>
        This isn’t the chaotic brawl you might be expecting. The duel will be broken up into 5 one-minute rounds, and each round will be scored according to a well-established, points-based system based on the separate fighting styles each combatant is trained in.
    </Paragraph>
    <Paragraph>
        Combatants gain points based on killshots, although they can also win by knockout or submission. These are unscripted duels with no predetermined outcome and there will be a trained referee to adjudicate. Check out the <Link To="/Rules">Rules page</Link> for more info.
    </Paragraph>
    <Paragraph>
        If you want to help out more than just buying a ticket, feel free to get involved, any publicity you can help us with helps us massively.
    </Paragraph>
    <Paragraph>
        Simply sharing the link to friends or on social media will help us spread the word.
    </Paragraph>
    <Paragraph>
        Some have even been generous in using their artistic talent to help notify their friends, family and fans.
    </Paragraph>
    <Paragraph>
        If you wish to dome thing similar then feel free to use the pictures of the fighters in the gallery as well to help you. Don't forget to tag us and add #fightforthehomeless
    </Paragraph>
</Jumbotron>



@code
{
    [Inject] private IJSRuntime JsRuntime { get; set; }
    [Inject] public DonationApi DonationApi { get; set; }

    private DonationSummaryDto Donations { get; set; } = new () { Count = 184, Total = 2342.02m };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
            await JsRuntime.FitText(".display-4");
    }

}
