@page "/Trailer"


<Container>
    <Row>
        <div class="frame-container">
            <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/25-0PSkD1CI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </Row>
    <Row>
        <Jumbotron Background="Background.White" Margin="Margin.Is1.FromTop">
            <p>This beautifully silly trailer has been put together with footage from a fight attempt that we were unable to complete, do not worry, the fight will still go ahead and all those with tickets still retain them.</p>
            <p>Hopefully this will sate your lust for violence until then.</p>
        </Jumbotron>
            
    </Row>
</Container>
