<Card>
    <CardImage Alt="An image of the anvil in a woods somewhere" Source="https://scontent-lhr8-2.xx.fbcdn.net/v/t1.0-9/139242739_104295144974511_7584533225023281488_n.jpg?_nc_cat=105&ccb=2&_nc_sid=8bfeb9&_nc_ohc=mem-RIdv1Q0AX8nWuCs&_nc_ht=scontent-lhr8-2.xx&oh=5793116f46c70261c4f0c3b3d2ce4430&oe=602860AC" />
    <CardBody>
        <CardTitle>THE ANVIL - A mountain of a man</CardTitle>
        <CardTitle>
            <div class="flex-buttons">
                        @*<Button Type="ButtonType.Link" Color="Color.Primary" Block="true" Target="Target.Blank" class="twitter-hashtag-button"
                                href="https://twitter.com/hashtag/TeamAnvil">
                            <i class="fab fa-twitter"></i>
                            #TeamAnvil
                        </Button>*@
                        <Button Type="ButtonType.Link" Color="Color.Primary" Block="true" Target="Target.Blank" class="facebook-hashtag-button"
                                To="https://www.facebook.com/hashtag/teamanvil">
                            <i class="fab fa-facebook-f"></i>
                            #TeamAnvil
                        </Button>
            </div>
        </CardTitle>
        <CardText>
            <Paragraph>“The Anvil of Hereford” A Large Norman reenactor and modern day blacksmith, experienced in 6 years of armoured combat, but with an additional 10 years of wrestling outside nightclubs and splitting up bar fights as a bouncer.</Paragraph>
            <Paragraph>In armour, a formidable 6' 7" and 158kg (basically a giant). You may have seen him in his most widely known video screaming “Tell me how the grass tastes, little man” before slamming a shield into the face of another armoured gentleman.</Paragraph>
        </CardText>
    </CardBody>
    <ListGroup>
        <ListGroupItem class="align-left">Height: 2m (6' 7")</ListGroupItem>
        <ListGroupItem class="align-left">Weight in armour: 158kg</ListGroupItem>
        <ListGroupItem class="align-left">Sword Reach: 170cm</ListGroupItem>
        <ListGroupItem class="align-left">Age: 29</ListGroupItem>
        <ListGroupItem class="align-left">Years of experience: 6</ListGroupItem>
        <ListGroupItem class="align-left">Fav Weapons: Large arming sword, glaive.</ListGroupItem>
        <ListGroupItem class="align-left">Special attack: Shield bash left hook</ListGroupItem>
    </ListGroup>
    <CardBody>
        <CardText class="align-center">
            Editors note: TheAnvil has 10 years of wrangling drunkards, and metal bashing
        </CardText>
    </CardBody>
    <CardBody>
        <Button Color="Color.Dark" Block="true" Type="ButtonType.Link" To="EventBrite">Donate</Button>
    </CardBody>
</Card>