<Card>
    <CardImage Alt="An image of the anvil in a woods somewhere" Source="https://scontent-lhr8-2.xx.fbcdn.net/v/t1.0-9/139242739_104295144974511_7584533225023281488_n.jpg?_nc_cat=105&ccb=2&_nc_sid=8bfeb9&_nc_ohc=mem-RIdv1Q0AX8nWuCs&_nc_ht=scontent-lhr8-2.xx&oh=5793116f46c70261c4f0c3b3d2ce4430&oe=602860AC" />
    <CardBody>
        <CardTitle>THE ANVIL</CardTitle>
        <CardTitle>#TeamAnvil</CardTitle>
        <CardText>
            A man so known he needs no name.
        </CardText>
    </CardBody>
    <ListGroup>
        <ListGroupItem class="align-left">Height: QUIET BIG</ListGroupItem>
        <ListGroupItem class="align-left">Weight: More then you - probably</ListGroupItem>
        <ListGroupItem class="align-left">Can lift a lot. Like he can deadlift you.</ListGroupItem>
    </ListGroup>
    <CardBody>
        <Button Color="Color.Dark" Block="true" Type="ButtonType.Link" To="Donate">Donate</Button>
    </CardBody>
</Card>