
<Card>
    <CardImage Alt="Goatworn looking at the camera with his specticle helm on" Source="https://scontent-lhr8-2.xx.fbcdn.net/v/t1.0-9/138768898_104317061638986_6334692535262581672_n.jpg?_nc_cat=105&ccb=2&_nc_sid=8bfeb9&_nc_ohc=-4pQJPhLqfAAX9fMibt&_nc_ht=scontent-lhr8-2.xx&oh=d9df202ca728c13d5fb28be25be05452&oe=60283887" />
    <CardBody>
        <CardTitle >Goatworn - Lord of Salt</CardTitle>
        <CardTitle>
            <div class="flex-buttons">
                        @*<Button Type="ButtonType.Link" Color="Color.Primary" Block="true" Target="Target.Blank" class="twitter-hashtag-button"
                                To="https://twitter.com/hashtag/TeamGoatworn">
                            <i class="fab fa-twitter"></i>
                            #TeamGoatworn
                        </Button>*@
                        <Button Type="ButtonType.Link" Color="Color.Primary" Block="true" Target="Target.Blank" class="facebook-hashtag-button"
                                To="https://www.facebook.com/hashtag/teamgoatworn">
                            <i class="fab fa-facebook-f"></i>
                            #TeamGoatworn
                        </Button>
            </div>   
</CardTitle>
        <CardText>
            <Paragraph>Goatsworn Armband, a Viking reenactor and internet meme who lives in Devon. Goatworn writes/draws a popular reenactment comic, and he’s also been known to slip into meme territory for a picture of him beating a knight with a wooden folding chair.</Paragraph>
            <Paragraph>He’s smaller than Anvil at 6' 0" and 96kg, undoubtedly more agile with 10 years of combat experience and he’s a dab hand with a wooden chair.</Paragraph>
        </CardText>
    </CardBody>
    <ListGroup>
        <ListGroupItem class="align-left">Height: 1.83m (6' 0")</ListGroupItem>
        <ListGroupItem class="align-left">Weight in armour: 96kg</ListGroupItem>
        <ListGroupItem class="align-left">Sword Reach: 140cm</ListGroupItem>
        <ListGroupItem class="align-left">Age: 29</ListGroupItem>
        <ListGroupItem class="align-left">Years of experience: 10</ListGroupItem>
        <ListGroupItem class="align-left">Fav Weapons: Viking era sword, dane axe</ListGroupItem>
        <ListGroupItem class="align-left">Special attack: Overhead folding chair bash</ListGroupItem>
    </ListGroup>
    <CardBody>
        <CardText class="align-center">
            Editors note: Goatworn is capable of channeling pure rage from historical inaccuracies, and is powered by salt
        </CardText>
    </CardBody>
    <CardBody>
        <Button Color="Color.Dark" Block="true" Type="ButtonType.Link" To="EventBrite">Donate</Button>
    </CardBody>
</Card>
