
<Card>
    <CardImage Alt="Goatworn looking at the camera with his specticle helm on" Source="https://scontent-lhr8-2.xx.fbcdn.net/v/t1.0-9/138768898_104317061638986_6334692535262581672_n.jpg?_nc_cat=105&ccb=2&_nc_sid=8bfeb9&_nc_ohc=-4pQJPhLqfAAX9fMibt&_nc_ht=scontent-lhr8-2.xx&oh=d9df202ca728c13d5fb28be25be05452&oe=60283887" />
    <CardBody>
        <CardTitle>Goatworn</CardTitle>
        <CardTitle>#TeamGoatworn</CardTitle>
        <CardText>
            Lord of Salt, Memer of the South (?)
        </CardText>
    </CardBody>
    <ListGroup>
        <ListGroupItem class="align-left">Height: I don't know, probably smaller then the Anvil</ListGroupItem>
        <ListGroupItem class="align-left">Weight: I've never met him, probably really small</ListGroupItem>
        <ListGroupItem class="align-left">His beard's ok I guess. Likes chairs</ListGroupItem>
    </ListGroup>
    <CardBody>
        <Button Color="Color.Dark" Block="true" Type="ButtonType.Link" To="Donate">Donate</Button>
    </CardBody>
</Card>
